* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#article {
    width: 1237px;
    font-size: 72px;
    text-align: center;
}

#image1 {
    width: 568px;
    height: 446px;
}

#starynight {
    font-size: 40px;
    text-align: center;
}

